# Arquivos compilados do Pawn
*.amx
*.bak
*.tmp
*.log
/gamemodes/*.amx
/filterscripts/*.amx
/plugins/*.dll
/plugins/*.so
server.cfg
server_log.txt
.vscode/
*.sublime-project
*.sublime-workspace
*.cache
*.db
/Users/*.bak
